body {
  margin: 25px;
  padding: 10px;
}

header {
  /* background-color: #999999; */
  background-image: url("../images/flywheel.jpg");
  padding: 1%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 120%;
}

h2 {
  color: #0000ff;
  text-transform: uppercase;
}

.right {
  background-color: #fff;
  display: inline-block;
  float: left;
  width: 70%;
  padding: 5px;
}

nav > a {
  background-color: #dbe0e0;
  color: #000000;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  opacity: 0.6;
  width: 15%;
  margin: 0px 25px 25px;
  padding: 15px 15px;
  border-radius: 5px;
}

.left {
  float: left;
  background-color: #d88509;
  display: inline-grid;
}

.left img {
  margin: 25px 25px;
  width: 150px;
  border: 2px solid #000;
}

.active, .active:hover {
  background-color: #111;
  color: #fff;
}

table.tabl {
  margin: 5% 0 10% 10%;
	color: rgb(93 90 90);
	-webkit-border-radius: 25px 25px 0 0;
	border-radius: 10px;
}

table tr td {
  padding: 2%;
  border-spacing: 10px;
  background: rgb(206 202 202);
  -webkit-border-radius: 25px 25px 0 0;
  border-radius: 5px;
  opacity: 0.9;
  border-collapse: collapse;
}

th {
  background: rgb(73 249 143);
  width: 10%;
  padding: 2%;
  margin: 0;
  border: 2px solid #cc852c;
  -webkit-border-radius: 25px 25px 0 0;
  border-radius: 10px 10px 0px 0px;
}

tr:first-child>th {
  text-align: left;
}

tr:last-child>td{
  -webkit-border-radius: 25px 25px 0 0;
  border-radius: 10px 10px 0px 0px;
}

tr:nth-child(2)>td{
  -webkit-border-radius: 25px 25px 0 0;
  border-radius: 0px 0px 10px 10px;
}

tr > td:first-child {
  width: 40%
}

tr:hover {background-color: #000;}
